.flop-cards {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 36px;
    width: 120px;

    img {
        width: var(--standardCardWith);
        position: absolute;

        @media (max-width: 500px) {
            width: 120px;
        }

        @media (max-width: 350px) {
            width: 90px;
        }

        @media (max-height: 500px) {
            width: 100px;
        }

        @media (max-height: 400px) {
            width: 90px;
        }
    }

    @media (max-width: 350px) {
        width: 90px;
    }
}

.flop-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    width: 100%;
}

.flop {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 180px;
    display: flex;
    align-items: center;
    margin-left: 24px;

    img {
        position: absolute;
        width: var(--standardCardWith);

        @media (max-height: 650px) {
            width: 100px;
        }
    }
}

.color-white {
    color: white;
    margin-left: 16px;
    margin-right: 16px;
    text-align: center;
    font-size: 16px;
}