.cards-container {
    display: flex;
    flex-direction: column;
    margin-left: 60px;

    @media (max-width: 730px) {
        margin-left: 24px;
    }
}

.flop-cards {
    display: flex;
    align-items: center;
    width: 120px;
    position: relative;

    img {
        width: var(--standardCardWith);
        position: absolute;

        @media (max-width: 500px) {
            width: 120px;
        }

        @media (max-width: 350px) {
            width: 90px;
        }

        @media (max-height: 500px) {
            width: 100px;
        }

        @media (max-height: 400px) {
            width: 90px;
        }
    }

    @media (max-width: 350px) {
        width: 90px;
    }

    &:hover {
        z-index: 11;
    }
}

.flop-container {
    display: flex;
    width: 100%;

    @media (max-width: 1300px) {
        top: 0;
    }
}

.flop {
    height: 100%;
    width: 200px;
    display: flex;
    align-items: center;

    img {
        width: var(--standardCardWith);

        @media (max-height: 650px) {
            width: 100px;
        }
    }

    img:nth-child(2) {
        margin-left: calc(var(--standardCardWith) * (-1) + 5px);
    }

    img:nth-child(3) {
        margin-left: calc(var(--standardCardWith) * (-1) + 10px);
    }

    img:nth-child(4) {
        margin-left: calc(var(--standardCardWith) * (-1) + 15px);
    }

    img:nth-child(5) {
        margin-left: calc(var(--standardCardWith) * (-1) + 20px);
    }

    @media (max-width: 730px) {
        display: none;
    }
}

.color-white {
    color: white;
    margin-left: 16px;
    margin-right: 16px;
    text-align: center;
    font-size: 16px;
}

.round-box {
    color: white;
    font-size: 24px;

    span {
        margin-right: 12px;
    }

    @media (max-width: 730px) {
        display: none;
    }
}