<!--
    <iframe [src]="srcUrl|safe: 'resourceUrl'" height="1000" width="1400"></iframe>
-->
<div class="header-faq">
    <h1>Explanation and General Rules</h1>
    <div class="close-icon" (click)="closeDialog()">
        <mat-icon matTooltip="close" fontIcon="close"></mat-icon>
    </div>
</div>

<div class="faq-container">
    Texas holdem is one of the most commonly played variants of the card game poker. Each round consists of 4 phases in
    which the player has to decide whether he/she wants to continue participating in the round or opt out (fold).
    <br>
    <h2>Rounds</h2>
    <h3>Round 1</h3>
    <p>
        Each player receives 2 cards, which he/she holds face down in front of the other players. Now the players have
        to
        decide whether:
        You want to participate in the game round. In addition, there is a player who pays the minimum contribution for
        the
        Participation
        of the round. This player is called Big Blind. In the first round, he was the last to win the
        Possibility
        act. Depending on the betting behavior of all players, all players can also make the decision several times.
        meeting
        must decide whether they want to continue participating in the round.
    </p>


    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Examples
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="example-container">
            <h4>Example 1</h4>
            <p>
                <span> <span class="example-player-text">Player 1</span> sets the minimum amount of 10
                    (call).</span><br>
                <span> <span class="example-player-text">Player 2</span> exit game round. (fold)</span><br>
                <span> <span class="example-player-text">Player 3</span> as a small blind already had to bet 5 chips.
                    Now he called and has to go to 10
                    fill.</span><br>
                <span> <span class="example-player-text">Player 4</span> as a big blind has already set 10 and can
                    Now decide whether he/she confirmed (checked) or wants to increase it again. If he/she increases,
                    the other players will be asked if you increase
                    or want to follow suit for the same amount.</span><br>
                <span>The end of the round is reached as soon as only 1 player participates or all players
                    set the same amount.</span>
            </p>

            <h4>Player 2</h4>
            <p>
                <span> <span class="example-player-text">Player 1</span> sets an amount of 20, doubling
                the bet (raise).</span><br>
                <span> <span class="example-player-text">Player 2</span> exit game round. (fold)</span><br>
                <span> <span class="example-player-text">Player 3</span> as a small blind already had to bet 5 chips.
                Nevertheless exit game round (fold).</span><br>
                <span> <span class="example-player-text">Player 4</span> as a big blind has already set 10 and can
                now decide whether he/she goes with you bet 10 to set in total 20 (call), wants to increase again (re-raise) or gets out (fold).</span><br>
                <span>The end of the round is reached as soon as only 1 player participates or all players
                    set the same amount.</span>
            </p>

            <h4>Beispiel 3</h4>
            <p>
                <span> <span class="example-player-text">Player 1</span> exit game round. (fold)</span> <br>
                <span> <span class="example-player-text">Player 2</span> exit game round. (fold)</span> <br>
                <span> <span class="example-player-text">Player 3</span> as a small blind already had to bet 5 chips.
                Nevertheless exit game round (fold).</span>
                <br>
                <span> <span class="example-player-text">Player 4</span> automatically wins as the last remaining
                player.</span>
            </p>
        </div>
    </mat-expansion-panel>


    <h3>Round 2</h3>
    <p>
        In addition to your own 2 cards, 3 cards are now laid face up. This is called a flop. The
        Players now check whether their own cards with the 3 additional cards allow a good winning combination.
        Accordingly is set. Basically, a bluff is also possible in every round. Due to the setting behavior,
        you also signal to the players whether you have a high or low probability of winning for yourself
        sees.
    </p>

    <h3>Round 3</h3>
    <p>
        In addition to the 3 cards face up, another card is laid. This is called Turn. Now the
        Players again decide one by one whether they want to bet money or not.
    </p>
    <h3>Round 4</h3>
    <p>
        In addition to the 4 cards face up, another card is laid. This is called River. This is the
        last round. Now all remaining players bet until all have deposited the same amount or
        there is only one player left. <br>
        From your own 2 cards and the 5 cards face up, 5 cards are now selected, which are the best hand
        of the player. This can include 2, 1 or no card of the players hand. The player with the
        best 5 cards wins.
    </p>

    <h2>Rating of poker hands</h2>
    <h3>High Card</h3>
    <p>If you do not achieve another rating, the highest card will be considered. If none of the
        other players a better combination, the one with the highest card wins. The lowest value is the
        2 and the highest the ace.</p>
    <mat-divider></mat-divider>
    <h3>Pair</h3>
    <p>A pair means that a player has 2 cards of the same value. (e.g. Queen of Hearts and Queen of Spades)</p>
    <img class="img-faq" src="./assets/img/queen-pair.png">
    <mat-divider></mat-divider>
    <h3>Two Pairs</h3>
    <p>Two pairs means that a player has 2 times two cards of the same value. (e.g. Queen of Hearts, Queen of Spades,
        Cross 8 and Heart 8)</p>
    <img class="img-faq" src="./assets/img/two-pairs.png">
    <mat-divider></mat-divider>
    <h3>Triplet</h3>
    <p>A triplet means that a player has 3 cards of the same value. (e.g. Heart 8, Cross 8 and Spades 8)</p>
    <img class="img-faq" src="./assets/img/drilling.png">
    <mat-divider></mat-divider>
    <h3>Straight</h3>
    <p>A straight means that a player has 5 consecutive cards. In this case, the ace can be the first or the
        last card. A jump over the ace is not possible. Therefore, King, Ace, 2, 3, 4 would not be valid. The
        Colors don't matter</p>
    <img class="img-faq" src="./assets/img/straight.png">
    <mat-divider></mat-divider>
    <h3>Flush</h3>
    <p>In a flush, the player has 5 cards of the same suit.</p>
    <img class="img-faq" src="./assets/img/flush.png">
    <mat-divider></mat-divider>
    <h3>Full House</h3>
    <p>In a full house, the player has a pair and a triplet.</p>
    <img class="img-faq" src="./assets/img/full-house.png">
    <mat-divider></mat-divider>
    <h3>Quadruplet</h3>
    <p>A quadruple means that a player has 4 cards of the same value. (e.g. Heart 8, Cross 8, Diamond 8 and Spades
        8)</p>
    <img class="img-faq" src="./assets/img/vierling.png">
    <mat-divider></mat-divider>
    <h3>Straight Flush</h3>
    <p>A straight flush means that a player has a street where all 5 cards have the same suit (e.g.
        Spades 7, Spades 8, Spades 9, Spades 10 and Jack of Spades)</p>
    <img class="img-faq" src="./assets/img/straight-flush.png">
    <mat-divider></mat-divider>
    <h3>Royal Flush</h3>
    <p>A royal flush means that a player has the highest road where all 5 cards are the same suit
        (e.g. Spades 10, Jack of Spades, Queen of Spades, King Spades and Ace of Spades)</p>
    <img class="img-faq" src="./assets/img/royal-flush.png">
</div>