<div class="player-container">
    <div *ngFor="let player of players; let i = index"
        [ngClass]="{'player-active': player.playersTurn, 'player-folded': player.folded, 'player': true}">
        <div class="player-box">
            <img class="icon-img" src="assets/img/{{ player.playerImage }}">
            <div class="player-infos-container"
                [ngClass]="{'player-infos-show': player.playersTurn, 'player-infos': true}">
                <div class="player-infos">
                    <div [ngClass]="{'player-name-show': player.playersTurn, 'player-name': true}">
                        <span>{{ player.playerName }}</span>
                    </div>
                    <div class="player-chip-status">
                        <div>Jackpot: {{ player.setMoney }}</div>
                        <div>Chips: {{ player.numberOfChips }}</div>
                    </div>
                </div>
                <div class="poker-chips-box-under-1700">
                    <img class="poker-chips"
                        src="assets/img/chips-player/poker-chips_{{checkPlayersNumberOfChips(player.numberOfChips)}}.png">
                </div>
            </div>

            <div class="poker-chips-box-over-1700">
                <div class="winning-coins-box">
                    <img
                        src="assets/img/chips-player/poker-chips_{{checkPlayersNumberOfChips(player.numberOfChips)}}.png">
                    <div *ngIf="player.playerName == gameService.game.winningPlayersName">
                        +{{gameService.game.coinsWhichGetWinner}}</div>
                </div>
            </div>
        </div>
    </div>
</div>