.player-container {
    display: flex;
    flex-direction: column;
    padding-top: 24px;
    padding-bottom: 24px;
    overflow: auto;
    max-height: 1100px;
    align-items: end;
    width: 400px;

    @media (max-width: 1700px) {
        width: 300px;
    }
}


.player {
    position: relative;
    width: 300px;
    background-color: rgb(240, 217, 175);
    opacity: 0.7;
    margin-top: 16px;

    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;

    @media (max-width: 1700px) {
        border-bottom-left-radius: 60px;
        border-top-left-radius: 60px;
    }

    .icon-img {
        width: 70px;
        height: 70px;
        object-fit: cover;
        border-radius: 100%;

        @media (max-width: 1700px) {
            width: 120px;
            height: 120px;
        }
    }

    span {
        font-size: 24px;
        margin-left: 16px;
        text-align: left;
    }
}

.player-active {
    background-color: orange !important;
    opacity: 1 !important;
}

.player-folded {
    opacity: 0.4 !important;
}

.player-chip-status {
    display: flex;
    flex-direction: column;
    margin-right: 12px;
}

.player-infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.player-infos-container {
    display: flex;

    @media (max-width: 1700px) {
        flex-direction: column;
    }
}

.player-name {
    max-width: 143px;
    max-height: 25px;
    overflow: hidden;
}

@media (max-width: 650px) {
    .player-name {
        max-width: 110px;
    }

    .player {
        width: 280px;
        margin-top: 12px;

        img {
            width: 60px;
            height: 60px;
        }

        span {
            font-size: 20px;
        }
    }
}

@media (max-width: 450px) {
    .player-name {
        max-width: 90px;
    }

    .player {
        width: 220px;
        margin-top: 8px;

        img {
            width: 40px;
            height: 40px;
        }

        span {
            font-size: 16px;
        }
    }
}

@media (max-width: 400px) {
    .player-name {
        display: none;
    }

    .player {
        width: 140px;

        img {
            width: 40px;
            height: 40px;
        }

        span {
            font-size: 16px;
        }
    }

    .player-name-show {
        display: flex !important;
        justify-content: flex-start;
        width: 65px;
    }

    .player-active {
        background-color: orange !important;
        opacity: 1 !important;
        width: 190px !important;
    }

    .player-infos {
        justify-content: flex-end;
    }

    .player-infos-show {
        justify-content: space-between !important;
    }
}

@media (max-height: 600px) {
    .player-name {
        max-width: 90px;
    }

    .player {
        width: 220px;
        margin-top: 8px;

        img {
            width: 40px;
            height: 40px;
        }

        span {
            font-size: 16px;
        }
    }
}

@media (max-height: 350px) {
    .player-name {
        display: none;
    }

    .player {
        width: 140px;

        img {
            width: 40px;
            height: 40px;
        }

        span {
            font-size: 16px;
        }
    }

    .player-name-show {
        display: flex !important;
        justify-content: flex-start;
        width: 65px;
    }

    .player-active {
        background-color: orange !important;
        opacity: 1 !important;
        width: 190px !important;
    }

    .player-infos {
        justify-content: flex-end;
    }

    .player-infos-show {
        justify-content: space-between !important;
    }
}

.player-box {
    display: flex;
}

.poker-chips-box-under-1700 {
    display: none;

    @media (max-width: 1700px) {
        display: block;
    }
}

.poker-chips {
    height: 50px;
    object-fit: cover;
}

.poker-chips-box-over-1700 {
    position: absolute;
    left: -100px;
    bottom: 0;

    img {
        height: 70px;
        width: 94px;
    }
}

.winning-coins-box{
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    width: 94px;

    div{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #FFBA15;
        font-weight: 600;
        font-size: 40px;
        line-height: 40px;
    }
}