<!--
<div class="start-screen">
    <img src="assets/img/game-background.jpg">
</div>
-->
<div class="startscreen-site">
    <div class="images-startscreen">
        <img class="img-start-screen1" src="assets/img/cards/card_cover.png">
        <img class="img-start-screen2" src="assets/img/cards/card_cover.png">
        <img class="img-start-screen3" src="assets/img/cards/card_cover.png">
        <img class="img-start-screen4" src="assets/img/cards/card_cover.png">
    </div>

    <!-- 
<div class="btn-start">
    <button (click)="newGame()">START</button>
</div>

<div class="container">
        <a>
            <span (click)="newGame()">Start</span>
        </a>
    </div>
-->



    <div class="start-game-button">
        <div (click)="newGame()" class="start-game-button-background">
            <div class="text-start-screen-button" style="z-index: 10;">Create a table</div>
        </div>
    </div>
</div>