<div class="start-screen">
    <img src="assets/img/start-screen-img.jpg">
</div>
<img class="img-start-screen1" src="assets/img/cards/card_cover.png">
<img class="img-start-screen2" src="assets/img/cards/card_cover.png">
<img class="img-start-screen3" src="assets/img/cards/card_cover.png">
<img class="img-start-screen4" src="assets/img/cards/card_cover.png">

<img class="img-start-screen4" src="assets/img/red_q.png">

<div class="btn-start">
    <button (click)="newGame()">START</button>
</div>
<div class="btn-rules">
    <button>RULES</button>
</div>