<!--
<div class="start-screen">
    <img src="assets/img/game-background.jpg">
</div>
-->
<div class="startscreen-site">
    <div class="images-startscreen">
        <img class="img-start-screen1" src="assets/img/cards/card_cover.png">
        <img class="img-start-screen2" src="assets/img/cards/card_cover.png">
        <img class="img-start-screen3" src="assets/img/cards/card_cover.png">
        <img class="img-start-screen4" src="assets/img/cards/card_cover.png">
    </div>
<div class="start-game-button-box">
        <div class="start-game-button">
        <div (click)="startNewTestGame()" class="start-game-button-background">
            <div class="text-start-screen-button color-main-hover">Try alone</div>
        </div>
    </div>
    <div class="start-game-button">
        <div (click)="openDialog()" class="start-game-button-background-mir">
            <div class="text-start-screen-button color-secondary-hover">Invite friends</div>
        </div>
    </div>
</div>

</div>