.startscreen-site {
    background-color: var(--background);
    width: 100vw;
    height: 100vh;
    max-width: 100%;
}

.img-start-screen4 {
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%) rotate(25deg);
}

.images-startscreen {
    img {
        height: 400px;

        @media (max-width: 580px) {
            height: 300px !important;
        }

        @media (max-width: 400px) {
            height: 250px !important;
        }

        @media (max-width: 350px) {
            height: 200px !important;
        }

        @media (max-height: 800px) {
            height: 350px;
        }

        @media (max-height: 750px) {
            height: 300px;
        }

        @media (max-height: 650px) {
            height: 240px;
        }

        @media (max-height: 550px) {
            height: 200px;
        }

        @media (max-height: 480px) {
            height: 180px;
        }

        @media (max-height: 430px) {
            height: 150px;
        }

        @media (max-height: 370px) {
            height: 180px;
        }
    }
}

.img-start-screen2 {
    position: absolute;
    left: 60%;
    top: 15%;
    transform: translate(-50%) rotate(-25deg);

    @media (max-height: 650px) {
        left: 55%;
    }
}

.img-start-screen3 {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%) rotate(185deg);
}

.img-start-screen1 {
    position: absolute;
    left: 45%;
    top: 25%;
    transform: translate(-50%) rotate(105deg);
}

.background-img-start {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    right: 0;
    width: 100vw;
    max-width: 1800px;
    object-fit: contain;


    @media (max-width: 1800px) {
        left: 0%;
        transform: translate(0%);
    }
}

.title {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: white;
    font-size: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    span {
        margin-right: 40px;
    }

    mat-icon {
        width: 40px;
        height: 40px;
        font-size: 40px;

        &:hover {
            cursor: pointer;
        }

        @media (max-height: 480px) {
            width: 30px;
            height: 30px;
            font-size: 30px;
        }
    }

    @media (max-height: 650px) {
        top: 75%;
    }

    @media (max-height: 580px) {
        top: 78%;
    }

    @media (max-height: 550px) {
        top: 75%;
    }

    @media (max-height: 480px) {
        font-size: 30px;
    }

    @media (max-height: 370px) {
        top: 50%;
        z-index: 5;
        background-color: var(--background);
        padding: 8px;
        border: 1px solid var(--secondaryColor);
        border-radius: 8px;
    }

}

.start-game-button-box {
    position: relative;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;

    @media (max-height: 380px) {
        top: 88%;
    }

    @media (max-height: 330px) {
        top: 85%;
    }
}

.start-game-button {
    border-radius: 16px;
    width: 280px;
    height: 80px;


    @media (max-height: 440px) {
        top: 80%;
    }
}

.start-game-button-background {
    width: 280px;
    height: 80px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--background);


}

.start-game-button-background::before {
    content: "";
    background-image: conic-gradient(var(--mainColor) 20deg,
            transparent 120deg);
    width: 150%;
    height: 150%;
    position: absolute;

    animation: rotate 2s linear infinite;
}

.start-game-button-background::after {
    content: "";
    background-image: conic-gradient(#ffffff 20deg,
            transparent 120deg);
    width: 270px;
    height: 70px;
    position: absolute;
    background: var(--background);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-start-screen-button {
    color: white;
    font-size: 25px;
    width: 100%;
    height: 100%;
    line-height: 70px;
    text-align: center;
    z-index: 10;

    margin-right: 8px;
    margin-left: 8px;

    &:hover {
        cursor: pointer;
    }
}

.color-main-hover {
    &:hover {
        color: var(--mainColor);
    }
}

.color-secondary-hover {
    &:hover {
        color: var(--secondaryColor);
    }
}


@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.start-game-button-background-mir {
    width: 280px;
    height: 80px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--background);
}

.start-game-button-background-mir::before {
    content: "";
    background-image: conic-gradient(var(--secondaryColor) 20deg,
            transparent 120deg);
    width: 150%;
    height: 150%;
    position: absolute;

    animation: rotateMir 2s linear infinite;
}

.start-game-button-background-mir::after {
    content: "";
    background-image: conic-gradient(#ffffff 20deg,
            transparent 120deg);
    width: 270px;
    height: 70px;
    position: absolute;
    background: var(--background);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes rotateMir {
    0% {
        transform: rotate(-180deg);
    }

    100% {
        transform: rotate(180deg);
    }
}