<div class="invite-friends-container">

    <form class="form-container" (submit)="sendMails()" ngNativeValidate #myForm>
        <div class="friend-box">
            <span>friend 1</span>
            <mat-form-field class="example-full-width">
                <mat-label class="label">E-Mail</mat-label>
                <input #mailFieldOne class="color-white" matInput [formControl]="email" type="email" required>
                <mat-error *ngIf="email.invalid">{{getErrorMessageMail()}}</mat-error>
            </mat-form-field>
        </div>

        <div class="friend-box" *ngIf="mailFields.length >= 2"><span>friend 2</span>
            <mat-form-field class="example-full-width">
                <mat-label class="label">E-Mail</mat-label>
                <input #mailFieldTwo class="color-white" matInput [formControl]="email" type="email">
                <mat-error *ngIf="email.invalid">{{getErrorMessageMail()}}</mat-error>
            </mat-form-field>
        </div>
        <div class="friend-box" *ngIf="mailFields.length >= 3"><span>friend 3</span>
            <mat-form-field class="example-full-width">
                <mat-label class="label">E-Mail</mat-label>
                <input #mailFieldThree class="color-white" matInput [formControl]="email" type="email">
                <mat-error *ngIf="email.invalid">{{getErrorMessageMail()}}</mat-error>
            </mat-form-field>
        </div>
        <div class="friend-box" *ngIf="mailFields.length >= 4"><span>friend 4</span>
            <mat-form-field class="example-full-width">
                <mat-label class="label">E-Mail</mat-label>
                <input #mailFieldFour class="color-white" matInput [formControl]="email" type="email">
                <mat-error *ngIf="email.invalid">{{getErrorMessageMail()}}</mat-error>
            </mat-form-field>
        </div>
        <div class="friend-box" *ngIf="mailFields.length >= 5"><span>friend 5</span>
            <mat-form-field class="example-full-width">
                <mat-label class="label">E-Mail</mat-label>
                <input #mailFieldFive class="color-white" matInput [formControl]="email" type="email">
                <mat-error *ngIf="email.invalid">{{getErrorMessageMail()}}</mat-error>
            </mat-form-field>
        </div>
        <div class="icon-invite-friends">
            <mat-icon *ngIf="mailFields.length < 5" matTooltip="Add field" fontIcon="add"
                (click)="addMailField()"></mat-icon>
            <mat-icon *ngIf="mailFields.length > 1" matTooltip="Remove field" fontIcon="remove"
                (click)="deleteMailField()"></mat-icon>
        </div>
        <button class="invitation-send-btn" type="submit" #buttonInviteFriends>Send invitation</button>
    </form>
</div>