<div class="invite-friends-container">
    <div class="friend-box"><span>friend 1</span>
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <mat-label class="label">E-Mail</mat-label>
                <input class="color-white" matInput>
            </mat-form-field>
        </form>
    </div>
    <div class="friend-box"><span>friend 2</span>
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <mat-label class="label">E-Mail</mat-label>
                <input class="color-white" matInput>
            </mat-form-field>
        </form>
    </div>
    <div class="friend-box"><span>friend 3</span>
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <mat-label class="label">E-Mail</mat-label>
                <input class="color-white" matInput>
            </mat-form-field>
        </form>
    </div>
    <div class="friend-box"><span>friend 4</span>
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <mat-label class="label">E-Mail</mat-label>
                <input class="color-white" matInput>
            </mat-form-field>
        </form>
    </div>
    <div class="friend-box"><span>friend 5</span>
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <mat-label class="label">E-Mail</mat-label>
                <input class="color-white" matInput>
            </mat-form-field>
        </form>
    </div>
    <div class="invitation-send-btn">Send invitation</div>
</div>