<app-player [players]="game.players"
    class="player-position">
</app-player>

<div class="field">
    <div class="card-stack">
        <!-- Card stack -->
        <img [ngStyle]="{ 'right.px' : i*5}" *ngFor="let c of [0,1,2,3,4]; let i = index;"
            src="assets/img/cards/card_cover.png">
    </div>

    <!-- Flop/Turn/River cards -->
    <div *ngIf="game.showFlop" class="flop-cards-container">
        <div *ngFor="let cardOfTable of game.flop; let i = index" class="flop-cards" [ngStyle]="{ 'left.px' : i*100}">
            <img src="assets/img/cards/{{cardOfTable}}.svg">
        </div>
    </div>
</div>


<!-- Card for show who wins with which combination -->
<app-game-info [roundEnds]="game.roundEnds" [winnerName]="game.winningPlayersName"
    [winnerResult]="game.winningPlayersResult" [players]="game.players" class="pin-bottom"></app-game-info>


<!-- Add player Button -->
<button mat-fab color="accent" class="btn-add" (click)="openDialog()" *ngIf="!playerIsCreated && game.players.length<6">
    <mat-icon>add</mat-icon>
</button>

<app-game-hints [numberOfPlayers]="game.players.length"></app-game-hints>



<!-- Start game button -->
<div class="start-game-button" *ngIf="!game.pokerGameIsStarted && game.players.length > 1 && playerIsCreated">
    <button (click)="startPokerGame()">Start Game</button>
</div>

<!-- Show your own cards -->
<div *ngIf="game.players.length > 1 && game.pokerGameIsStarted">
    <div class="player-1" *ngFor="let players of game.players;">
        <div *ngIf="players.playerName == playerCreated">
            <img src=" assets/img/cards/{{players.playerCards[0]}}.svg">
            <img src="assets/img/cards/{{players.playerCards[1]}}.svg">
        </div>
    </div>
</div>

<!-- Show winning cards -->
<div *ngIf="game.roundEnds">
    <div class="player-2" *ngIf="game.winningCards.length > 1">
        <img src=" assets/img/cards/{{game.winningCards[0]}}.svg">
        <img src=" assets/img/cards/{{game.winningCards[1]}}.svg">
    </div>
</div>

<!-- Show possible moves -->
<div *ngFor="let player of game.players;">
    <div class="move-box" *ngIf="player.playersTurn && player.playerName == playerCreated">
        <span>Do you want to set money?</span>
        <div>
            <button (click)="playerSetMoney()" *ngIf="!game.callIsPossible && !game.raiseIsPossible">+10</button>
            <button (click)="playerCalled()" *ngIf="game.callIsPossible">Call</button>
            <button (click)="playerRaise()" *ngIf="game.raiseIsPossible">Raise</button>
            <button (click)="playerChecks()" *ngIf="game.checkIsPossible">Check</button>
            <button (click)="playerFolded()">Fold <countdown class="countdown" #cd [config]="config"
                    (event)="handleEvent($event)">
                </countdown></button>
        </div>
        <span>Chips in pot {{game.allChipsInPot}}</span>
    </div>
</div>

<!-- Show which player wins and how much chips he gets -->
<div class="show-winner-box" *ngIf="game.roundEnds">
    <div *ngFor="let name of game.winningPlayersName;">
        <span>Player {{name}} wons {{game.coinsWhichGetWinner}} Chips</span>
    </div>
</div>