<app-player *ngFor="let player of game.players; let i = index" [ngStyle]="{'top.px': 100 + (i * 80)}" [name]="player"
    [playerActive]="i == game.currentPlayer" [nbrOfPlayers]="i" class="player-position">
</app-player>

<div class="field">

    <div class="card-stack">

        <!-- Card stack -->
        <img [ngStyle]="{ 'right.px' : i*5}" *ngFor="let c of [0,1,2,3,4]; let i = index;"
            src="assets/img/cards/card_cover.png" alt="">
        <img (click)="takeCard()" [class.pick-card]="pickCardAnimation" class="top-card" style="right: 25px;"
            src="assets/img/cards/card_cover.png">

        <!-- Stack for last card -->
        <img *ngIf="lastCard != ''"
        src="assets/img/cards/{{ lastCard }}.svg" class="played-card-{{nbrOfRotation+1}}">
        
        <!-- Stack for played cards -->
        <img *ngFor="let card of game.playedCards;"
            src="assets/img/cards/{{ card }}.svg" class="played-card-{{nbrOfRotation}}">

        <!-- Current card (animation) -->
        <img (click)="takeCard()" *ngIf="pickCardAnimation" class="pick-card-{{nbrOfRotation+1}}" style="right: 25px;"
            src="assets/img/cards/{{ currentCard }}.svg" alt="">

    </div>
</div>

<app-game-info [card]="currentCard" class="pin-bottom"></app-game-info>

<button mat-fab color="accent" class="btn-add" (click)="openDialog()">
    <mat-icon>add</mat-icon>
</button>

<div class="alert-add-player" *ngIf="game.players.length < 2">
    <p>Please add a player. You need at least minimum 2 players.</p>
</div>