.field {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-image: url("./../../assets/img/game-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    display: flex;
    align-items: center;
    justify-content: center;
}

.card-stack {
    position: relative;
}

.card-stack img {
    position: absolute;
    width: 160px;
}

.top-card {
    cursor: pointer;
}

.pick-card {
    animation: pick-card-animation 1s ease-in-out;
    transform: scale(1.3) translateX(160px) translateY(-220px) rotate(10deg);
}

.played-card {
    right: 25px;
    transform: scale(1.3) translateX(160px) translateY(-220px) rotate(10deg);
}

@keyframes pick-card-animation {
    0% {
        transform: scale(1);
    }

    40% {
        transform: scale(1.5);
    }

    70% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1.5) translateX(120px) translateY(-150px) rotate(10deg);
    }
}

.player-position {
    position: absolute;
    right: 0;
}

.btn-add {
    position: absolute;
    bottom: 32px;
    right: 32px;
}

.pin-bottom {
    position: absolute;
    bottom: 32px;
    left: 100px;
    right: 100px;
}