<app-player *ngFor="let player of game.players; let i = index" [ngStyle]="{'top.px': 100 + (i * 80)}"
    [name]="player.playerName" [numberOfChips]="player.numberOfChips" [userImages]="player.playerImage"
    [moneyJackpot]="player.setMoney" [playerActive]="player.playersTurn" class="player-position">
</app-player>

<div class="field">

    <div class="card-stack">

        <!-- Card stack -->
        <img [ngStyle]="{ 'right.px' : i*5}" *ngFor="let c of [0,1,2,3,4]; let i = index;"
            src="assets/img/cards/card_cover.png" alt="">
        <img [class.pick-card]="game.pickCardAnimation" class="top-card" style="right: 25px;"
            src="assets/img/cards/card_cover.png">

        <!-- Stack for last card 
        <img *ngIf="lastCard != ''"
        src="assets/img/cards/{{ lastCard }}.svg" class="played-card-{{nbrOfRotation+1}}">-->

        <!-- Stack for played cards -->
        <img *ngFor="let card of game.playedCards;" src="assets/img/cards/{{ card.card }}.svg"
            [ngClass]="{'played-card-0' :card.position === 0, 'played-card-1' :card.position === 1, 'played-card-2' :card.position === 2}">        
    </div>
</div>

Stack for played cards 
<app-game-info [winnerId]="game.winningPlayers" [winnerResult]="game.winningPlayersResult" [players]="game.players" class="pin-bottom"></app-game-info>

<button mat-fab color="accent" class="btn-add" (click)="openDialog()">
    <mat-icon>add</mat-icon>
</button>

<div class="alert-add-player" *ngIf="game.players.length < 2">
    <p>Please add a player. You need at least minimum 2 players.</p>
</div>

<div class="alert-add-player" *ngIf="!game.pokerGameIsStarted">
    <button (click)="startPokerGame()">Start Game</button>
</div>

<div *ngIf="game.players.length > 1 && game.pokerGameIsStarted">
    <div [class.cards-of-active-player]="players.playersTurn" class="player-1" *ngFor="let players of game.players;"
        [ngClass]="{'player-1' :players.playerId === 0, 'player-2' :players.playerId === 1, 'player-3' :players.playerId === 2, 'player-4' :players.playerId === 3}">
        <div *ngIf="players.playerName == playerCreated">
            <img src=" assets/img/cards/{{players.playerCards[0]}}.svg">
            <img src="assets/img/cards/{{players.playerCards[1]}}.svg">
        </div>
    </div>

</div>

<div *ngFor="let player of game.players;">
    <div class="ask-for-set-money" *ngIf="player.playersTurn && player.playerName == playerCreated">
        <p>Do you want to set money?</p>
        <button (click)="playerCalled()">Call</button>
        <button (click)="playerRaise()" *ngIf="game.raiseIsPossible">Raise</button>
        <button (click)="playerChecks()" *ngIf="game.checkIsPossible">Check</button>
        <button (click)="playerFolded()">Fold</button>

        <p>Chips {{game.allChipsInPot}}</p>
    </div>
</div>


<div class="ask-for-set-money" *ngIf="game.roundEnds">
    <div *ngFor="let player of game.winningPlayers;">
        <p>Player: {{player.playerName}} wons {{coinsWhichGetWinner}} Chips</p>
    </div>
</div>

<div *ngIf="game.showFlop" class="flop-cards-container">
    <div *ngFor="let cardOfTable of game.flop; let i = index" class="flop-cards" [ngStyle]="{ 'left.px' : i*100}">
        <img src="assets/img/cards/{{cardOfTable}}.svg">
    </div>
</div>