.field {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 100%;
    background-color: var(--background);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.player-position {
    position: absolute;
    right: 0;
    z-index: 1;
}

.btn-add {
    position: absolute;
    bottom: 32px;
    right: 32px;
    z-index: 25;

    &:hover {
        opacity: 0.7;
    }
}

.pin-bottom {
    position: absolute;
    bottom: 32px;
    left: 100px;
    right: 100px;

    @media (max-width: 750px) {
        left: 50px;
        right: 50px;
    }

    @media (max-width: 500px) {
        left: 30px;
        right: 30px;
    }

    @media (max-width: 400px) {
        left: 20px;
        right: 20px;
    }
}

.start-game-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, var(--mainColor), #5f6691, #5f6691, var(--mainColor));

    &:hover {
        background: linear-gradient(45deg, var(--mainColor), var(--mainColor), var(--mainColor), var(--mainColor));
    }

    button {
        padding: 16px;
        background-color: var(--background);
        color: white;
        font-size: 25px;
        border-radius: 16px;
        border: none;

        &:hover {
            cursor: pointer;
            color: var(--mainColor);
        }
    }
}

.showCards {
    background-color: var(--mainColor);
    border-radius: 12px;

    @media (max-width: 1040px) {
        img {
            width: 130px !important;
        }
    }

    @media (max-width: 880px) {
        img {
            width: 110px !important;
        }
    }
}

.player-cards {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 15%;
    left: 10%;

    .player-1 {
        margin-right: 24px;
    }

    .player-2 {
        margin-right: 24px;
    }

    .player-3 {
        margin-right: 24px;
    }

    @media (max-width: 1400px) {
        left: 40px;
    }

    @media (max-width: 1280px) {
        left: 80px;

        .player-1 {
            position: absolute;
            left: -40px;
            top: 320px;

            @media (max-height: 900px) {
                top: 250px;
            }
        }
    }

    @media (max-width: 1080px) {
        top: 65px;
        left: 40px;

        .player-1 {
            position: absolute;
            left: 0px;
            top: 250px;
        }
    }

    @media (max-width: 989px) {
        display: none;
    }
}

.player-1 {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;

    img {
        width: var(--standardCardWith);

        @media (max-width: 1040px) {
            width: 100px;
        }
    }
}

.second-card {
    margin-left: calc(var(--standardCardWith) / (-2));
}

.player-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;

    img {
        width: var(--standardCardWith);

        @media (max-width: 1040px) {
            width: 100px;
        }
    }
}

.player-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;

    img {
        width: var(--standardCardWith);

        @media (max-width: 1040px) {
            width: 100px;
        }
    }
}

.player-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;

    img {
        width: var(--standardCardWith);

        @media (max-width: 1040px) {
            width: 100px;
        }
    }
}

.player-small {
    position: absolute;
    top: 10%;
    left: 10%;
    display: none;

    @media (max-width: 550px) {
        left: 5%;
    }

    img {
        width: var(--standardCardWith);

        @media (max-width: 650px) {
            width: 100px;
        }

        @media (max-height: 560px) {
            width: 100px;
        }
    }
}

.showCardsSmall {
    display: block !important;
}

.mg-top12 {
    margin-top: 12px;
}

.op-05 {
    opacity: 0.5;
}

.player-color {
    color: orange !important;
    margin-left: 8px;
}



.ask-for-set-money {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(225, 225, 225, 0.9);
    padding: 16px;
    border-radius: 16px;
    border: 3px solid black;
    z-index: 2;
    width: 280px;
    height: 48px;
    display: flex;
    align-items: center;

    p {
        font-size: 25px;
        line-height: 48px;
    }
}

.move-box-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media (max-width: 980px) {
        z-index: 8;
    }
}

.move-box-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 16px;
    background-color: var(--background);
    opacity: 0.75;
    z-index: -1;
}

.move-box {
    position: relative;
    z-index: 9999;

    padding: 16px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--mainColor);
    width: 340px;

    @media (max-width: 380px) {
        width: 250px;
        padding: 8px;
    }

    span {
        height: 40px;
        font-size: 25px;
        line-height: 40px;
        color: white;
        font-weight: 500;
        text-shadow: 1px 1px 3px var(--background);

        @media (max-width: 380px) {
            font-size: 20px;
        }
    }

    button {
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 6px;
        padding-bottom: 6px;
        margin-left: 4px;
        margin-right: 4px;
        background-color: var(--background);
        color: white;
        font-size: 20px;
        border-radius: 8px;
        border: 1px solid var(--mainColor);

        @media (max-width: 380px) {
            font-size: 16px;
            padding-left: 12px;
            padding-right: 12px;
        }

        &:hover {
            cursor: pointer;
            color: var(--mainColor);
        }
    }
}

.countdown {
    font-size: 16px;
    color: gray;
}

.show-winner-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(225, 225, 225, 0.9);
    padding: 16px;
    border-radius: 16px;
    z-index: 2;
    width: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    span {
        color: var(--mainColor);
        font-size: 25px;
        font-weight: 500;
    }

    .next-round-btn {
        background-color: var(--background);
        color: white;
        padding: 4px;
        border-radius: 8px;
        border: 1px solid var(--mainColor);

        &:hover {
            color: var(--secondaryColor);
            cursor: pointer;
        }
    }

    @media (max-width: 1200px) {
        left: 40%;
    }

    @media (max-width: 400px) {
        width: 240px;
    }

    @media (max-width: 350px) {
        width: 200px;
        left: 50%;
    }
}

.flop-cards-container {
    position: absolute;
    bottom: 24px;
    left: 0;
    width: 100%;
    height: 300px;

    @media (max-height: 980px) {
        &:hover {
            z-index: 9999;
        }
    }
}

.btn-developer-mode {
    position: absolute;
    bottom: 25px;
    left: 50px;

    &:hover {
        opacity: 0.7;
    }
}

.round-box{
    width: 50px;
    height: 50px;
    border-radius: 50%;

    position: absolute;
    top: 24px;
    left: 280px;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1111;

    color: white;
    font-size: 16px;
}