<div class="game-container">
    <div class="home-icon" (click)="goBackToStartScreen()">
        <mat-icon matTooltip="home" fontIcon="home"></mat-icon>
    </div>
    <div *ngIf="audioService.volume == 1" class="sound-icon" (click)="audioService.soundOff()">
        <mat-icon fontIcon="volume_up"></mat-icon>
    </div>
    <div class="faq-icon" (click)="openDialogFAQ()">
        <mat-icon matTooltip="FAQ" fontIcon="question_mark"></mat-icon>
    </div>
    <div *ngIf="audioService.volume == 0" class="sound-icon" (click)="audioService.soundOn()">
        <mat-icon fontIcon="volume_off"></mat-icon>
    </div>
    <div class="app-player-container">
        <app-player [players]="gameService.game.players" class="player-position">
        </app-player>
    </div>

    <div class="field">
        <!-- Flop/Turn/River cards -->
        <app-cards-of-table [showFlop]="gameService.game.showFlop" class="flop-cards-container"
            [cards]="gameService.game.flop" [roundNbr]="showRound()">
        </app-cards-of-table>
    </div>


    <!-- Card for show who wins with which combination -->
    <app-game-info [roundEnds]="gameService.game.roundEnds" [winnerName]="gameService.game.winningPlayersName"
        [winnerResult]="gameService.game.winningPlayersResult" [players]="gameService.game.players"
        class="pin-bottom"></app-game-info>

    <!-- Start game button -->
    <div class="start-game-button"
        *ngIf="!gameService.game.pokerGameIsStarted && gameService.game.players.length > 1 && gameService.playerIsCreated">
        <button (click)="gameService.startPokerGame()">Give Cards</button>
    </div>

    <!-- Show all cards -->
    <div class="player-cards"
        *ngIf="gameService.game.players.length > 1 && gameService.game.pokerGameIsStarted && generalService.windowHeight >= 750">
        <div>
            <div class="player-1"
                [ngClass]="{'showCards': gameService.game.players[0].playersTurn && !gameService.game.roundEnds}">
                <div class="mg-top12">{{gameService.game.players[0].playerName}}</div>
                <div [ngClass]="{'op-05': gameService.game.players[0].folded}">
                    <img src=" assets/img/cards/{{gameService.game.players[0].playerCards[0]}}.svg">
                    <img class="second-card" src="assets/img/cards/{{gameService.game.players[0].playerCards[1]}}.svg">
                </div>
            </div>
        </div>

        <div *ngIf="gameService.game.players.length > 1">
            <div class="player-2"
                [ngClass]="{'showCards': gameService.game.players[1].playersTurn && !gameService.game.roundEnds}">
                <div class="mg-top12">{{gameService.game.players[1].playerName}}</div>
                <div [ngClass]="{'op-05': gameService.game.players[1].folded}">
                    <img src=" assets/img/cards/{{gameService.game.players[1].playerCards[0]}}.svg">
                    <img class="second-card" src="assets/img/cards/{{gameService.game.players[1].playerCards[1]}}.svg">
                </div>
            </div>
        </div>
        <div *ngIf="gameService.game.players.length > 2">
            <div class="player-3"
                [ngClass]="{'showCards': gameService.game.players[2].playersTurn && !gameService.game.roundEnds}">
                <div class="mg-top12">{{gameService.game.players[2].playerName}}</div>
                <div [ngClass]="{'op-05': gameService.game.players[2].folded}">
                    <img src=" assets/img/cards/{{gameService.game.players[2].playerCards[0]}}.svg">
                    <img class="second-card" src="assets/img/cards/{{gameService.game.players[2].playerCards[1]}}.svg">
                </div>
            </div>
        </div>
        <div *ngIf="gameService.game.players.length > 3">
            <div class="player-4"
                [ngClass]="{'showCards': gameService.game.players[3].playersTurn && !gameService.game.roundEnds}">
                <div class="mg-top12">{{gameService.game.players[3].playerName}}</div>
                <div [ngClass]="{'op-05': gameService.game.players[3].folded}">
                    <img src=" assets/img/cards/{{gameService.game.players[3].playerCards[0]}}.svg">
                    <img class="second-card" src="assets/img/cards/{{gameService.game.players[3].playerCards[1]}}.svg">
                </div>
            </div>
        </div>

    </div>

    <!-- Show all cards small screen -->
    <div
        *ngIf="(gameService.game.players.length > 1 && gameService.game.pokerGameIsStarted && generalService.windowHeight < 750) || (gameService.game.players.length > 1 && gameService.game.pokerGameIsStarted && generalService.windowWidth < 990)">
        <div class="player-small" *ngFor="let players of gameService.game.players;"
            [ngClass]="{'showCardsSmall': players.playersTurn && !gameService.game.roundEnds}">
            <div>
                <img src=" assets/img/cards/{{players.playerCards[0]}}.svg">
                <img src="assets/img/cards/{{players.playerCards[1]}}.svg">
            </div>
        </div>
    </div>

    <!-- Show winning cards -->
    <div class="winning-cards" *ngIf="gameService.game.roundEnds">
        <div class="winning-cards-box" *ngFor="let player of findWinningPlayer()">
            <span>{{player.playerName}}</span>
            <div>
                <img src=" assets/img/cards/{{player.playerCards[0]}}.svg">
                <img src=" assets/img/cards/{{player.playerCards[1]}}.svg">
            </div>
        </div>
    </div>

    <!-- Show possible moves -->
    <div class="move-box-container" *ngFor="let player of gameService.game.players;">
        <div class="move-box" *ngIf="player.playersTurn && !gameService.game.roundEnds">
            <div class="move-box-background"></div>
            <span>Play for <span class="player-color">{{player.playerName}}</span></span>
            <div>
                <button (click)="gameService.playerSetMoney(); audioService.playMoneySound()"
                    *ngIf="!gameService.game.callIsPossible && !gameService.game.raiseIsPossible && player.numberOfChips >= 10">+10</button>
                <button (click)="gameService.playerCalled(); audioService.playMoneySound()"
                    *ngIf="gameService.game.callIsPossible && gameService.checkNecessaryNumberOfCoinsToCall() && player.numberOfChips >= 5">Call</button>
                <button (click)="gameService.playerGoesAllIn(); audioService.playMoneySound()"
                    *ngIf="player.numberOfChips > 0">All In</button>
                <button (click)="gameService.playerRaise(); audioService.playMoneySound()"
                    *ngIf="gameService.game.raiseIsPossible && player.numberOfChips >= (gameService.getHighestJackpot()*2) && player.numberOfChips >= 20">Raise</button>
                <button (click)="gameService.playerChecks(); audioService.playCheckSound()"
                    *ngIf="gameService.game.checkIsPossible">Check</button>
                <button (click)="gameService.playerFolded(); audioService.playFoldSound()">Fold <countdown
                        class="countdown" #cd [config]="config" (event)="gameService.handleEventTimer($event)">
                    </countdown></button>
            </div>
            <span>Chips in pot {{gameService.game.allChipsInPot}}</span>
        </div>


    </div>

    <!-- Show which player wins and how much chips he gets -->
    <div class="show-winner-box" *ngIf="gameService.game.roundEnds">
        <div *ngFor="let name of gameService.game.winningPlayersName;">
            <span>Player {{name}} wons {{gameService.game.coinsWhichGetWinner}} Chips</span>
        </div>
        <div class="next-round-btn" (click)="gameService.startNextRound()">Next round</div>
    </div>

</div>