<h1  class="color-white" mat-dialog-title>Name</h1>
<div mat-dialog-content>
  <p class="color-white">Please enter your player name.</p>
  <mat-form-field>
    <mat-label  class="color-white">Name</mat-label>
    <input matInput [(ngModel)]="name"  class="color-white">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()"  class="color-white">No Thanks</button>
  <button mat-button [disabled]="name.length == 0" [mat-dialog-close]="name" cdkFocusInitial  class="color-white">Ok</button>
</div>
