div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    max-width: 1800px;
    height: 100vh;
    border-left: 4px solid var(--secondaryColor);
    border-right: 4px solid var(--secondaryColor);
    background-color: var(--background);

    @media (max-width: 1799px) {
        display: none;
    }
}