.button-box {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
        margin-left: 24px;
        margin-right: 24px;
        width: 220px;
        height: 60px;
        font-size: 32px;
        line-height: 60px;
        color: white;
        background-color: var(--mainColor);
        font-weight: 600;
        border: none;
        border-radius: 12px;

        &:hover {
            cursor: pointer;
            color: var(--mainColor);
            background-color: white;
        }
    }
}

.dialog-modus-container {
    background-color: var(--background);

    span {
        font-size: 36px;
        line-height: 48px;
        color: var(--mainColor);
    }
}

::ng-deep .mat-dialog-container {
    background-color: var(--background);
    border-radius: 12px;
}