.alert-add-player {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 280px;
    border: 2px solid var(--mainColor);
    padding: 16px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    z-index: 3;
    background-color: var(--background);

    @media (max-width: 350px) {
        width: 260px;
        padding: 8px;
    }

    p {
        font-size: 20px;
        font-weight: 700;
        word-wrap: normal;
        line-height: 30px;
        color: white;
        text-align: center;
        margin: 0;

        @media (max-width: 350px) {
            font-size: 16px;
        }
    }

    span {
        color: var(--mainColor);
        font-size: 24px;

        @media (max-width: 350px) {
            font-size: 20px;
        }
    }
}

.height200 {
    height: 240px;
}

.height150 {
    height: 150px;
}

.zindex3 {
    z-index: 3;
}

.hint-start-game {
    font-size: 15px !important;
    font-weight: 500;
    word-wrap: normal;
    line-height: 30px;
    color: white;
    text-align: center;
}