<!-- Window with the hint that you need at least 2 players for playing poker -->
<div class="alert-add-player-1" *ngIf="numberOfPlayers < 2">
    <p>Please add a player. You need <br> <span>minimum 2 players</span> <br> at the table. (max 6) <br> <span
            class="hint-start-game">Send the URL to your friends, so they can join the game.</span></p>
</div>

<div class="alert-add-player-1" *ngIf="mouseIsOver && !developerMode">
    <p>You can add more than one player by open new tab with same url</p>
</div>
