:root {
    --background: #141D2F;
    --mainColor: #ff075b;
    --secondaryColor: #D4af37;
    --standardCardWith: 140px;
}

body {
    margin: 0;
}

.d-none {
    display: none;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #192337;
}

.game-container {
    width: 100vw;
    height: 100vh;
    max-width: 1800px;
    max-height: 1200px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.app-player-container {
    position: absolute;
    right: 0;
    top: 0;
}

.home-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid white;

    position: absolute;
    bottom: 24px;
    right: 54px;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1111;

    mat-icon {
        color: white;
        font-size: 40px;
        width: 40px;
        height: 40px;
        padding: 5px;

        &:hover {
            color: var(--secondaryColor);
        }
    }

    &:hover {
        cursor: pointer;
        border: 1px solid var(--secondaryColor);
        color: var(--secondaryColor);
    }
}

.sound-icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid white;

    position: absolute;
    top: 24px;
    left: 54px;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1111;

    mat-icon {
        color: white;
        font-size: 40px;
        width: 40px;
        height: 40px;
        padding: 5px;

        &:hover {
            color: var(--secondaryColor);
        }
    }

    &:hover {
        cursor: pointer;
        border: 1px solid var(--secondaryColor);
        color: var(--secondaryColor);
    }  
}