:root {
    --background: #141D2F;
    --mainColor: #ff075b;
    --secondaryColor: #D4af37;
    --standardCardWith: 140px;
}

body {
    margin: 0;
}

.d-none {
    display: none;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #192337;
}

.game-container {
    width: 100vw;
    height: 100vh;
    max-width: 1800px;
    max-height: 1200px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.app-player-container {
    position: absolute;
    right: 0;
    top: 0;
}

.home-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid white;

    position: absolute;
    top: 24px;
    left: 60px;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1111;

    mat-icon {
        color: white;
        font-size: 40px;
        width: 40px;
        height: 40px;
        padding: 5px;

        &:hover {
            color: var(--secondaryColor);
        }
    }

    &:hover {
        cursor: pointer;
        border: 1px solid var(--secondaryColor);
        color: var(--secondaryColor);
    }
}

.sound-icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid white;

    position: absolute;
    top: 24px;
    left: 220px;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1111;

    mat-icon {
        color: white;
        font-size: 40px;
        width: 40px;
        height: 40px;
        padding: 5px;

        &:hover {
            color: var(--secondaryColor);
        }
    }

    &:hover {
        cursor: pointer;
        border: 1px solid var(--secondaryColor);
        color: var(--secondaryColor);
    }  
}


.close-icon {
    position: absolute;
    top: 0;
    right: 0;

    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid white;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1111;
    
    mat-icon {
        color: white;
        font-size: 30px;
        width: 30px;
        height: 30px;
        padding: 5px;

        &:hover {
            color: var(--mainColor);
        }
    }

    &:hover {
        cursor: pointer;
        border: 1px solid var(--mainColor);
        color: var(--mainColor);
    }  
}

//scroll bar

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: white;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--secondaryColor);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--mainColor);
    opacity: 0.8;
  }

  .faq-icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid white;

    position: absolute;
    top: 24px;
    left: 140px;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1111;

    mat-icon {
        color: white;
        font-size: 40px;
        width: 40px;
        height: 40px;
        padding: 5px;

        &:hover {
            color: var(--secondaryColor);
        }
    }

    &:hover {
        cursor: pointer;
        border: 1px solid var(--secondaryColor);
        color: var(--secondaryColor);
    }  
  }

  .winning-cards {
    position: absolute;
    top: 65%;
    right: 10%;
    z-index: 10;
    text-align: center;
    max-height: 80vh;
    overflow: auto;
    padding-right: 8px;
    background-color: var(--background);
    border-radius: 12px;

    span {
        color: var(--mainColor);
        font-size: 18px;
    }

    transform: translate(0, -50%);

    @media (max-width: 1350px) {
        right: 5%;
    }

    img {
        width: var(--standardCardWith);

        @media (max-width: 650px) {
            width: calc(var(--standardCardWith) * 1.1);
        }

        @media (max-width: 650px) {
            width: 120px;
        }

        @media (max-width: 550px) {
            width: 100px;
        }
    }

    .winning-cards-box {
        margin-top: 8px;
        background-color: var(--background);
        border: 3px solid var(--secondaryColor);
        padding-top: 8px;
        border-radius: 12px;
    }
}