:root {
    --background: #141D2F;
    --mainColor: #ff075b;
    --secondaryColor: #D4af37;
    --standardCardWith: 140px;
}

body {
    margin: 0;
}

.d-none {
    display: none;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #192337;
}

.game-container {
    width: 100vw;
    height: 100vh;
    max-width: 1800px;
    max-height: 1200px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.app-player-container {
    position: absolute;
    right: 0;
    top: 0;
}

.color-main-hover{
    &:hover {
        color: var(--mainColor);
    }
}

.color-secondary-hover{
    &:hover {
        color: var(--secondaryColor);
    }
}